@import "tailwindcss";

:root { color-scheme: dark; }
html, body, #app { height: 100%; }
body { background:#12001a; color:white; -webkit-font-smoothing:antialiased; }

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.6rem 1rem;
  font-size: 0.95rem;
  line-height: 1.25rem;
  color: #fff;
  height: 44px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.8;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #ec4899; /* розовый */
  outline: none;
}

input[type="date"][color-scheme="dark"] {
  color-scheme: dark;
}